:root {
    --bg-color: hsl(0, 0%, 100%);
}

body {
    background-color: var(--bg-color);
}

.toast-container {
    position: fixed;
    margin: 10px;
    max-width: 250px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.toast-container[data-position^="top-"] {
    top: 0;
}

.toast-container[data-position^="bottom"] {
    bottom: 0;
}

.toast-container[data-position$="-right"] {
    right: 0;
}

.toast-container[data-position$="-left"] {
    left: 0;
}

.toast-container[data-position$="-center"] {
    left: 50%;
    transform: translateX(-50%);
}

.toast-container .toast {
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid #333;
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
    transition: transform 300ms ease-in-out;
    overflow: hidden;
}


.toast-container[data-position$="-right"] .toast {
    transform: translateX(110%);
}

.toast-container[data-position$="-left"] .toast {
    transform: translateX(-110%);
}

.toast-container[data-position="top-center"] .toast {
    transform: translateY(-100vh);
}

.toast-container[data-position="bottom-center"] .toast {
    transform: translateY(100vh);
}

.toast-container .toast.show {
    transform: translate(0, 0)
}

.toast.can-close::after {
    content: '\00D7';
    position: absolute;
    top: 0.1rem;
    right: .3rem;
}

.toast.progress::before {
    content: '';
    position: absolute;
    height: 2px;
    width: calc(100% * var(--progress, .5));
    background-color: blue;
    bottom:0;
    left:0;
}